<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="logo.png">

    <link rel="stylesheet" href="./../style.css" class="">
    <title><%= process.env.title %></title>
</head>
<body>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap pt-24 flex-row items-center justify-center">
          <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0  p-1 rounded-xl">
            <%- include('./../components/svg/brand') %>
            <span class="text-xl text-yellow-500"><%= process.env.title %></span>
          </a>
        </div>
        <div class="container px-5 pb-5 mx-auto">
          <!-- <div class="flex flex-col text-center w-full mb-5">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">LOGIN</h1>
          </div> -->
          <% if(message){ %>
          <div class="lg:w-1/4 md:w-1/2 mx-auto bg-red-500 text-white text-center">
              <%= message %>    
          </div>
          <%  } %>
          <form action="/auth/login" class="" method="POST">
          <div class="lg:w-1/4 md:w-1/2 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="username" class="leading-7 text-sm text-gray-600">Username</label>
                  <input type="text" id="username" name="username" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
                  <input type="password" id="password" name="password" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-full">
                <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">LOGIN</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </section>
</body>
</html>